{% extends 'll_app/base.html' %}

{% block content %}

<p>{{topic}}</p>
<p>Entries:</p>
<ul>
    {% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
    </li>
    {% empty %}
    <li>No entries added for the topic yet.</li>
    {% endfor %}
</ul>
{% endblock content %}