{% extends 'll_app/base.html' %}

{% block content %}

<ul>
    {% for topic in topics %}
    <li>
        <a href="{% url 'll_app:topic' topic.id %}">{{topic}}</a>
    </li>
    {% empty %}
    <li>No topics have been added yet.</li>
    {% endfor %}
</ul>

{% endblock content %}